# Base de datos PostgreSQL
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/zenvialms"

# Auth.js v5
AUTH_SECRET="genera-un-secreto-con: openssl rand -base64 32"
AUTH_TRUST_HOST=true
AUTH_URL=http://localhost:3000
